* {
  padding: 0;
  margin: 0;
}
.prodCard {
  margin-top: 1rem !important;
}
h1 {
  margin-left: 5rem;
}
.buySeccion {
  margin-top: 1rem !important;
  flex-wrap: nowrap !important;
  flex-direction: column !important;
  gap: 2rem;
  padding-right: 12%;
}
.buttonList {
  display: flex;
  justify-content: space-between;
  margin-right: 5rem;
}
